<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:blue;">To members of the Darlington Orchestra Committee<h1>
    <h3>Hi,</h3>
    <p>
      I have spent some time trying to code an on-line "committee meeting
       application".  If you get this, it is likely that I am close to success.
       It would be helpful if some would confirm receipt of it, via my normal
       e-address, <a href="mailto:howard.gilbrt@gmail.com">MailMe</a>.
    </p>
    <p>
      Click <a href="https://darl-comm.herokuapp.com"> here </a> if you would like to look at the site, as it is at present.
      You can log in with your e-address(the one this mail came to) and use the
       instrument Sarah plays(start with capital) as a password.
    </p>
    <h3> Best wishes</h3>
    <h3>Howard</h3>
  </body>
</html>
